<div class="container">
	<img src="/static/images/home-page/home-page.png" alt="Home Page Image" />
	<a href="/tahil" class="label tahil">Tahıl sonucuna göre</a>
	<div class="line tahil-line"></div>

	<a href="/dolap" class="label dolap">Dolapta ne var?</a>
	<div class="line dolap-line"></div>

	<a href="/gunun-menu" class="label gunluk-menu">Günün Menüsü</a>
	<div class="line gunluk-menu-line"></div>

	<a href="/ozel-ogun" class="label ozel-ogun">Özel öğün beslenmesi</a>
	<div class="line ozel-ogun-line"></div>

	<a href="/saglikli-diyet" class="label saglikli-diyet">Sağlıklı diyetler</a>
	<div class="line saglikli-diyet-line"></div>
</div>
