html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Poppins', sans-serif;
}

.container {
	position: relative;
	width: 100%; /* Ekran genişliği */
	height: 100%; /* Ekran yüksekliği */
	overflow: hidden; /* Taşan alanları gizler */
}

.container img {
	width: 100%; /* Genişlik, yüksekliğe göre ayarlanır */
	height: 100%; /* Ekran yüksekliğini tamamen kaplar */
	object-fit: cover; /* Görseli kırparak sığdırır */
	position: absolute;
	top: -1rem;
	left: -1rem;
	clip-path: inset(12% 19% 0% 6%);
	transform: scale(1.7, 1.2);
}

.label {
	position: absolute;
	background-color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	font-weight: bold;
	color: #01303b;
	text-decoration: none;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s ease, color 0.3s ease;
	cursor: pointer;

	&:hover {
		background-color: #2e8b57;
		color: #fff;
	}
}

/* Label Pozisyonları */
.tahil {
	top: 10%;
	left: 60%;
}
.dolap {
	top: 20%;
	left: 10%;
}
.gunluk-menu {
	top: 40%;
	left: 5%;
}
.ozel-ogun {
	bottom: 20%;
	left: 10%;
}
.saglikli-diyet {
	bottom: 5%;
	left: 40%;
}

/* Çizgiler */
.line {
	position: absolute;
	width: 50px;
	height: 2px;
	background-color: #2e8b57;
}

.tahil-line {
	top: 15%;
	left: 50%;
	transform: rotate(45deg);
}
.dolap-line {
	top: 25%;
	left: 20%;
}
.gunluk-menu-line {
	top: 45%;
	left: 15%;
}
.ozel-ogun-line {
	bottom: 25%;
	left: 20%;
}
.saglikli-diyet-line {
	bottom: 10%;
	left: 45%;
}
