<div class="container">
	<!-- Sebze Meyve Fotoğrafı -->
	<img
		src="/static/images/home-page/home-page.png"
		alt="Sağlıklı Beslenme"
		class="food-image"
	/>

	<!-- Yazılar ve Çizgiler -->
	<div class="label tahil">Tahıl sonucuna göre</div>
	<div class="line tahil-line"></div>

	<div class="label dolap">Dolapta ne var?</div>
	<div class="line dolap-line"></div>

	<div class="label gunluk-menu">Günün Menüsü</div>
	<div class="line gunluk-menu-line"></div>

	<div class="label ozel-ogun">Özel öğün beslenmesi</div>
	<div class="line ozel-ogun-line"></div>

	<div class="label saglikli-diyet">Sağlıklı diyetler</div>
	<div class="line saglikli-diyet-line"></div>

	<div class="title">SAĞLIK, DOĞRU BESLENMEYLE BAŞLAR.</div>
</div>
