@use './_variables' as *;
@use './_mixins' as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
}

html {
	font-size: 16px;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Poppins', sans-serif;

	@include respond-to(sm) {
		font-size: 15px;
	}

	@include respond-to(xs) {
		font-size: 14px;
	}
}

body {
	width: 100%;
	height: 100%;
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	color: $craft-color;
	background-color: transparent;
	margin: 0;
	padding: 0;
}
