<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<div class="three-d-list-container">
			<ul>
				<li style="--i: 1">
					<img
						src="https://fastly.picsum.photos/id/123/400/200.jpg?hmac=bjWqtYzEF3fJaLLsW59yPr3QH9Cmu8rGPUK8nBKlCTM"
					/>
					<div class="content">
						<h4></h4>
						<p>
							Lorem ipsum dolor sit amet<br />
							consectetur adipisicing elit.
						</p>
					</div>
				</li>
				<li style="--i: 2">
					<img
						src="https://fastly.picsum.photos/id/588/400/200.jpg?hmac=cx5Kq84rDLT0Dc2dYYSoZP3PCROBKPayd1dAVtEyx44"
					/>
					<div class="content">
						<h4></h4>
						<p>
							Lorem ipsum dolor sit amet<br />
							consectetur adipisicing elit.
						</p>
					</div>
				</li>
				<li style="--i: 3">
					<img
						src="https://fastly.picsum.photos/id/275/400/200.jpg?hmac=iJ3-rO7j2MiwDCAHDOcoVH3q_5J0Z4ry0rTg3QWyG2s"
					/>
					<div class="content">
						<h4></h4>
						<p>
							Lorem ipsum dolor sit amet<br />
							consectetur adipisicing elit.
						</p>
					</div>
				</li>
				<li style="--i: 4">
					<img
						src="https://fastly.picsum.photos/id/851/400/200.jpg?hmac=Yk7CGS-p0BQhvfjGvjue86sS6ja03oKw0JKPMR4ImWI"
					/>
					<div class="content">
						<h4></h4>
						<p>
							Lorem ipsum dolor sit amet<br />
							consectetur adipisicing elit.
						</p>
					</div>
				</li>
			</ul>
		</div>
		<div id="embeddedContent"></div>
		<script src="js/index.js"></script>
	</body>
</html>
